a:hover{
    font-size: 16pt;
}
body{
    font-family: 'Chilanka', cursive;
    margin: 0;
}
header{
    background-image: url("../images/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
img{
    height: 250;
}
nav{
    align-items: center;
    background-color: aquamarine;
    display: flex;
    height: 50;
    justify-content: space-around;
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section img{
    height: 250px;
}
section p:nth-child(3):hover{
    width: 100%;

}